html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    color: $text-color;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

a {
    color: $text-color;
    transition: color 0.3s;
}

button,
input,
select,
textarea {
    font-family: 'Raleway', sans-serif;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
}

.h1,
h1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.375;
    margin-bottom: 20px;
    @media(min-width: $hd) {
        font-size: 52px;
        margin-bottom: 40px;
    }
}

.h2,
h2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.375;
    margin-bottom: 20px;
    @media(min-width: $hd) {
        font-size: 42px;
        margin-bottom: 40px;
    }
}

.h3,
h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.375;
    margin-bottom: 20px;
    @media(min-width: $hd) {
        font-size: 32px;
    }
}

p {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

ol,
ul {
    &:not([class]) {
        li {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

ol,
ul {
    list-style-position: inside;

    &:not([class]) {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.text-center {
    text-align: center;
}

blockquote {
    border-left: 2px solid $dark-gold-color;
    background-color: #f5f5f5;
    margin: 20px 0;
    padding: 20px;
}