$sm: 768px;
$md: 1024px;
$hd: 1200px;
$lg: 1350px;
$xlg: 1440px;
$fhd: 1900px;
$text-color: #1f1f1f;
$gold-color: #E3BA76;
$dark-gold-color: #a29480;
$error-color: #BF2A2A;
$valid-color: #468558;
$container-max-width: 1340px;
$container-horizontal-padding: 40px;