<div class="benefits">
    <div class="benefits__item">
        <div class="benefits__item-image">
            <img alt="Самые лучше цены" loading="lazy" src="https://assets-prod.inmyroom.ru/assets/benefits/best-price.a8a6a8a8.svg" title="Самые лучше цены">
        </div>
        <p class="benefits__item-title">Самые лучшие цены</p>
        <p class="benefits__item-text">Цены производителей и дистрибьюторов. Постоянные акции и распродажи.</p>
    </div>
    <div class="benefits__item">
        <div class="benefits__item-image">
            <img alt="Быстрая доставка" loading="lazy" src="https://assets-prod.inmyroom.ru/assets/benefits/free-delivery.f71e274c.svg" title="Быстрая доставка">
        </div>
        <p class="benefits__item-title">Быстрая доставка</p>
        <p class="benefits__item-text">Доставка от 1 дня. Одна доставка привезет товары от сотен производителей и поставщиков.</p>
    </div>
    <div class="benefits__item">
        <div class="benefits__item-image">
            <img alt="Великолепный сервис" loading="lazy" src="https://assets-prod.inmyroom.ru/assets/benefits/great-service.8402dc47.svg" title="Великолепный сервис">
        </div>
        <p class="benefits__item-title">Великолепный сервис</p>
        <p class="benefits__item-text">Компетентный сервис, отлаженные годами процессы и довольные клиенты. 1 окно коммуникаций.</p>
    </div>
    <div class="benefits__item">
        <div class="benefits__item-image">
            <img alt="Только красивые товары" loading="lazy" src="https://assets-prod.inmyroom.ru/assets/benefits/beautiful-products.e4c1eeb3.svg" title="Только красивые товары">
        </div>
        <p class="benefits__item-title">Только красивые товары</p>
        <p class="benefits__item-text">Мы вручную выбираем самые красивые товары. А наши эксперты помогают в этом.</p>
    </div>
</div>