<div class="blog blog--big_last">
    <a class="blog-item" href="#">
        <span class="blog-item__image">
            <!--ресайз картинок 210*120, 420*240, 1024*780-->
            <picture>
                <source srcset="images/content/blog.jpg" media="(min-width: 1024px)">
                <img src="images/content/blog_mob.jpg" srcset="images/content/blog_mob@2x.jpg 2x" alt="Какая поза для сна самая опасная, а какая — полезная? Ответ сомнолога">
            </picture>
        </span>
        <span class="blog-item__text-block">
            <span>
                <span class="blog-item__title">Какая поза для сна самая опасная, а какая — полезная? Ответ сомнолога</span>
                <span class="blog-item__preview">
                    Есть люди, которые могут уснуть только на боку или только спине. Есть те, кто ворочается на протяжении всей ночи и постоянно меняет позу. А некоторые даже меняют привычки, чтобы спать в «более здоровой» позе.
                </span>
            </span>
            <span class="blog-item__pseudo-link">Читать</span>
        </span>
    </a>
    <a class="blog-item" href="#">
        <span class="blog-item__image">
            <!--ресайз картинок 210*120, 420*240, 180*180, 360*360-->
            <picture>
                <source srcset="images/content/blog_small.jpg, images/content/blog_small@2x.jpg 2x" media="(min-width: 1024px)">
                <img src="images/content/blog_mob.jpg" srcset="images/content/blog_mob@2x.jpg 2x" alt="Какая поза для сна самая опасная, а какая — полезная? Ответ сомнолога">
            </picture>
        </span>
        <span class="blog-item__text-block">
            <span>
                <span class="blog-item__title">Какая поза для сна самая опасная, а какая — полезная? Ответ сомнолога</span>
                <span class="blog-item__preview">
                    Есть люди, которые могут уснуть только на боку или только спине. Есть те, кто ворочается на протяжении всей ночи и постоянно меняет позу. А некоторые даже меняют привычки, чтобы спать в «более здоровой» позе.
                </span>
            </span>
            <span class="blog-item__pseudo-link">Читать</span>
        </span>
    </a>
    <a class="blog-item" href="#">
        <span class="blog-item__image">
            <!--ресайз картинок 210*120, 420*240, 180*180, 360*360-->
            <picture>
                <source srcset="images/content/blog_small.jpg, images/content/blog_small@2x.jpg 2x" media="(min-width: 1024px)">
                <img src="images/content/blog_mob.jpg" srcset="images/content/blog_mob@2x.jpg 2x" alt="Какая поза для сна самая опасная, а какая — полезная? Ответ сомнолога">
            </picture>
        </span>
        <span class="blog-item__text-block">
            <span>
                <span class="blog-item__title">Какая поза для сна самая опасная, а какая — полезная? Ответ сомнолога</span>
                <span class="blog-item__preview">
                    Есть люди, которые могут уснуть только на боку или только спине. Есть те, кто ворочается на протяжении всей ночи и постоянно меняет позу. А некоторые даже меняют привычки, чтобы спать в «более здоровой» позе.
                </span>
            </span>
            <span class="blog-item__pseudo-link">Читать</span>
        </span>
    </a>
    <a class="blog-item" href="#">
        <span class="blog-item__image">
            <!--ресайз картинок 210*120, 420*240, 180*180, 360*360-->
            <picture>
                <source srcset="images/content/blog_small.jpg, images/content/blog_small@2x.jpg 2x" media="(min-width: 1024px)">
                <img src="images/content/blog_mob.jpg" srcset="images/content/blog_mob@2x.jpg 2x" alt="Какая поза для сна самая опасная, а какая — полезная? Ответ сомнолога">
            </picture>
        </span>
        <span class="blog-item__text-block">
            <span>
                <span class="blog-item__title">Какая поза для сна самая опасная, а какая — полезная? Ответ сомнолога</span>
                <span class="blog-item__preview">
                    Есть люди, которые могут уснуть только на боку или только спине. Есть те, кто ворочается на протяжении всей ночи и постоянно меняет позу. А некоторые даже меняют привычки, чтобы спать в «более здоровой» позе.
                </span>
            </span>
            <span class="blog-item__pseudo-link">Читать</span>
        </span>
    </a>
</div>