<div class="catalog">
    <div class="catalog__goods-block">
        <h1>Столы для гостиной</h1>

        <div class="catalog__goods-top">
            <button class="js-filter-opener filter-opener" type="button">
                <svg>
                    <use xlink:href="#filter"></use>
                </svg>
                Фильтр
            </button>

            <div class="catalog__sorting">
                <span class="catalog__sorting-title">Сортировать по:</span>
                <div class="select-wrapper">
                    <select class="js-select">
                        <option value="1" class="desc">убыванию цены</option>
                        <option value="2" class="asc">возрастанию цены</option>
                    </select>
                </div>
            </div>

            <div class="catalog__show-block">
                <span class="catalog__show-block-title">Показать:</span>
                <a class="catalog__show-button is-active" href="#">24</a>
                <a class="catalog__show-button" href="#">48</a>
                <a class="catalog__show-button" href="#">72</a>
            </div>
        </div>

        <div class="catalog__goods-list">
            <div class="product">
                <a class="product__image" href="#">
                    <img src="http://importhome.ru/upload/resize_cache/iblock/db8/400_400_0/db81058711a568bc136688fa604b5fe6.jpg" alt="Диван Tondo">
                </a>
                <p class="product__title">Диван Tondo</p>
                <p class="product__brand">Название бренда</p>
                <div class="product__price">
                    <span class="product__price-current">471 100 ₽</span>
                    <span class="product__price-old">
                        <span>523 500 ₽</span>
                        <span> | Скидка 10%</span>
                    </span>
                </div>
                <button class="product__fav" type="button" title="Добавить в избранное">
                    <svg>
                        <use xlink:href="#favorite"></use>
                    </svg>
                </button>
            </div>
            <div class="product">
                <a class="product__image" href="#">
                    <img src="http://importhome.ru/upload/resize_cache/iblock/db8/400_400_0/db81058711a568bc136688fa604b5fe6.jpg" alt="Диван Tondo">
                </a>
                <p class="product__title">Диван Tondo</p>
                <p class="product__brand">Название бренда</p>
                <div class="product__price">
                    <span class="product__price-current">471 100 ₽</span>
                    <span class="product__price-old">
                        <span>523 500 ₽</span>
                        <span> | Скидка 10%</span>
                    </span>
                </div>
                <button class="product__fav" type="button" title="Добавить в избранное">
                    <svg>
                        <use xlink:href="#favorite"></use>
                    </svg>
                </button>
            </div>
            <!--<div class="product">
                <a class="product__image" href="#">
                    <img src="http://importhome.ru/upload/resize_cache/iblock/db8/400_400_0/db81058711a568bc136688fa604b5fe6.jpg" alt="Диван Tondo">
                </a>
                <p class="product__title">Диван Tondo</p>
                <p class="product__brand">Название бренда</p>
                <div class="product__price">
                    <span class="product__price-current">471 100 ₽</span>
                    <span class="product__price-old">
                        <span>523 500 ₽</span>
                        <span> | Скидка 10%</span>
                    </span>
                </div>
                <button class="product__fav" type="button" title="Добавить в избранное">
                    <svg>
                        <use xlink:href="#favorite"></use>
                    </svg>
                </button>
            </div>
            <div class="product">
                <a class="product__image" href="#">
                    <img src="http://importhome.ru/upload/resize_cache/iblock/db8/400_400_0/db81058711a568bc136688fa604b5fe6.jpg" alt="Диван Tondo">
                </a>
                <p class="product__title">Диван Tondo</p>
                <p class="product__brand">Название бренда</p>
                <div class="product__price">
                    <span class="product__price-current">471 100 ₽</span>
                    <span class="product__price-old">
                        <span>523 500 ₽</span>
                        <span> | Скидка 10%</span>
                    </span>
                </div>
                <button class="product__fav" type="button" title="Добавить в избранное">
                    <svg>
                        <use xlink:href="#favorite"></use>
                    </svg>
                </button>
            </div>
            <div class="product">
                <a class="product__image" href="#">
                    <img src="http://importhome.ru/upload/resize_cache/iblock/db8/400_400_0/db81058711a568bc136688fa604b5fe6.jpg" alt="Диван Tondo">
                </a>
                <p class="product__title">Диван Tondo</p>
                <p class="product__brand">Название бренда</p>
                <div class="product__price">
                    <span class="product__price-current">471 100 ₽</span>
                    <span class="product__price-old">
                        <span>523 500 ₽</span>
                        <span> | Скидка 10%</span>
                    </span>
                </div>
                <button class="product__fav" type="button" title="Добавить в избранное">
                    <svg>
                        <use xlink:href="#favorite"></use>
                    </svg>
                </button>
            </div>
            <div class="product">
                <a class="product__image" href="#">
                    <img src="http://importhome.ru/upload/resize_cache/iblock/db8/400_400_0/db81058711a568bc136688fa604b5fe6.jpg" alt="Диван Tondo">
                </a>
                <p class="product__title">Диван Tondo</p>
                <p class="product__brand">Название бренда</p>
                <div class="product__price">
                    <span class="product__price-current">471 100 ₽</span>
                    <span class="product__price-old">
                        <span>523 500 ₽</span>
                        <span> | Скидка 10%</span>
                    </span>
                </div>
                <button class="product__fav" type="button" title="Добавить в избранное">
                    <svg>
                        <use xlink:href="#favorite"></use>
                    </svg>
                </button>
            </div>
            <div class="product">
                <a class="product__image" href="#">
                    <img src="http://importhome.ru/upload/resize_cache/iblock/db8/400_400_0/db81058711a568bc136688fa604b5fe6.jpg" alt="Диван Tondo">
                </a>
                <p class="product__title">Диван Tondo</p>
                <p class="product__brand">Название бренда</p>
                <div class="product__price">
                    <span class="product__price-current">471 100 ₽</span>
                    <span class="product__price-old">
                        <span>523 500 ₽</span>
                        <span> | Скидка 10%</span>
                    </span>
                </div>
                <button class="product__fav" type="button" title="Добавить в избранное">
                    <svg>
                        <use xlink:href="#favorite"></use>
                    </svg>
                </button>
            </div>
            <div class="product">
                <a class="product__image" href="#">
                    <img src="http://importhome.ru/upload/resize_cache/iblock/db8/400_400_0/db81058711a568bc136688fa604b5fe6.jpg" alt="Диван Tondo">
                </a>
                <p class="product__title">Диван Tondo</p>
                <p class="product__brand">Название бренда</p>
                <div class="product__price">
                    <span class="product__price-current">471 100 ₽</span>
                    <span class="product__price-old">
                        <span>523 500 ₽</span>
                        <span> | Скидка 10%</span>
                    </span>
                </div>
                <button class="product__fav" type="button" title="Добавить в избранное">
                    <svg>
                        <use xlink:href="#favorite"></use>
                    </svg>
                </button>
            </div>-->
        </div>

        <ul class="pager">
            <li class="pager__item pager__item--arrow">
                <a class="pager__link" href="#">В начало</a>
            </li>
            <li class="pager__item">
                <a class="pager__link" class="pager__link" href="#">1</a>
            </li>
            <li class="pager__item">
                <a class="pager__link" class="pager__link" href="#">2</a>
            </li>
            <li class="pager__item">
                <span class="pager__link is-active">3</span>
            </li>
            <li class="pager__item">
                <a class="pager__link" href="#">4</a>
            </li>
            <li class="pager__item">
                <a class="pager__link" href="#">5</a>
            </li>
            <li class="pager__item pager__item--arrow">
                <a class="pager__link" href="#">В конец</a>
            </li>
        </ul>

        <div class="text-block">
            <p>Брайан Патрик Флинн - американский телевизионный продюсер, ставший дизайнером интерьеров. После многих лет написания, производства и управления новостными программами и показами обустройства дома, Флинн попробовал свои силы в жилых
                интерьерах, быстро заработав уважение своих коллег и редакторов журналов о жилье.</p>
            <p>Брайан объединил свои навыки дизайна и декорирования с опытом производства телевизионных программ для создания FlynnsideOut Productions, производственной компании с полным спектром услуг, специализирующейся на контенте, связанном с
                образом жизни.</p>
            <p>Помимо работы в качестве основателя, Брайан также является исполнительным продюсером, дизайнером декораций, писателем и опорным стилистом для своих проектов.</p>
        </div>
    </div>

    <div class="catalog__filter">
        <div class="filter">
            <form class="filter__inner" method="post" action="section.html">
                <div class="filter__section">
                    <button class="js-filter-section-opener filter__section-title is-open" type="button">Цена</button>
                    <div class="filter__section-inner is-open">
                        <div class="price-inputs">
                            <div class="price-inputs__item">
                                <span class="price-inputs__item-title">от</span>
                                <input id="min" class="price-input" type="text" placeholder="4900" value="4900">
                            </div>
                            <div class="price-inputs__item">
                                <span class="price-inputs__item-title">до</span>
                                <input id="max" class="price-input" type="text" placeholder="28000" value="28000">
                            </div>
                        </div>
                        <input class="js-price-slider" type="text" name="price_range" value="" />
                    </div>
                </div>
                <div class="filter__section">
                    <button class="js-filter-section-opener filter__section-title is-open" type="button">Наличие</button>
                    <div class="filter__section-inner is-open">
                        <label class="checkbox" for="checkbox_1">
                            <input id="checkbox_1" type="checkbox" name="stock" value="1">
                            <span class="checkbox__icon"></span>
                            на складе
                        </label>
                        <label class="checkbox" for="checkbox_2">
                            <input id="checkbox_2" type="checkbox" name="stock" value="2">
                            <span class="checkbox__icon"></span>
                            под заказ
                        </label>
                    </div>
                </div>
                <div class="filter__section">
                    <button class="js-filter-section-opener filter__section-title is-open" type="button">Производитель</button>
                    <div class="filter__section-inner is-open">
                        <label class="checkbox" for="checkbox_3">
                            <input id="checkbox_3" type="checkbox" name="fabric" value="1">
                            <span class="checkbox__icon"></span>
                            Profildoors
                        </label>
                        <label class="checkbox" for="checkbox_4">
                            <input id="checkbox_4" type="checkbox" name="fabric" value="2">
                            <span class="checkbox__icon"></span>
                            Velldoris
                        </label>
                        <label class="checkbox" for="checkbox_5">
                            <input id="checkbox_5" type="checkbox" name="fabric" value="3">
                            <span class="checkbox__icon"></span>
                            Turen Becker
                        </label>
                        <label class="checkbox" for="checkbox_6">
                            <input id="checkbox_6" type="checkbox" name="fabric" value="4">
                            <span class="checkbox__icon"></span>
                            Zadoor
                        </label>
                        <label class="checkbox" for="checkbox_7">
                            <input id="checkbox_7" type="checkbox" name="fabric" value="5">
                            <span class="checkbox__icon"></span>
                            Форест
                        </label>
                        <label class="checkbox" for="checkbox_3">
                            <input id="checkbox_3" type="checkbox" name="fabric" value="1">
                            <span class="checkbox__icon"></span>
                            Profildoors
                        </label>
                        <div class="filter__section-cut">
                            <label class="checkbox" for="checkbox_3">
                                <input id="checkbox_3" type="checkbox" name="fabric" value="1">
                                <span class="checkbox__icon"></span>
                                Profildoors
                            </label>
                            <label class="checkbox" for="checkbox_4">
                                <input id="checkbox_4" type="checkbox" name="fabric" value="2">
                                <span class="checkbox__icon"></span>
                                Velldoris
                            </label>
                            <label class="checkbox" for="checkbox_5">
                                <input id="checkbox_5" type="checkbox" name="fabric" value="3">
                                <span class="checkbox__icon"></span>
                                Turen Becker
                            </label>
                            <label class="checkbox" for="checkbox_6">
                                <input id="checkbox_6" type="checkbox" name="fabric" value="4">
                                <span class="checkbox__icon"></span>
                                Zadoor
                            </label>
                            <label class="checkbox" for="checkbox_7">
                                <input id="checkbox_7" type="checkbox" name="fabric" value="5">
                                <span class="checkbox__icon"></span>
                                Форест
                            </label>
                        </div>
                        <button class="js-filter-section-cut filter__section-cut-toggler" type="button" data-text="Скрыть">Показать все</button>
                    </div>
                </div>
                <div class="filter__section">
                    <button class="js-filter-section-opener filter__section-title" type="button">Цвет</button>
                    <div class="filter__section-inner ">
                        <label class="filter__color">
                            <input type="checkbox" name="color_" value="1">
                            <span class="filter__color-icon"><img src="images/content/img_41.jpg" alt="Серый"></span>
                            Серый
                        </label>
                        <label class="filter__color">
                            <input type="checkbox" name="color_" value="2">
                            <span class="filter__color-icon"><img src="images/content/img_42.jpg" alt="Бордо"></span>
                            Бордо
                        </label>
                        <label class="filter__color">
                            <input type="checkbox" name="color_" value="3">
                            <span class="filter__color-icon"><img src="images/content/img_43.jpg" alt="Светло-серый"></span>
                            Светло-серый
                        </label>
                        <label class="filter__color">
                            <input type="checkbox" name="color_" value="4">
                            <span class="filter__color-icon"><img src="images/content/img_44.jpg" alt="Белый"></span>
                            Белый
                        </label>
                    </div>
                </div>
                <div class="filter__section">
                    <button class="js-filter-section-opener filter__section-title" type="button">Стиль</button>
                    <div class="filter__section-inner ">
                        <label class="checkbox" for="checkbox_11">
                            <input id="checkbox_11" type="checkbox" name="style" value="1">
                            <span class="checkbox__icon"></span>
                            Классика
                        </label>
                        <label class="checkbox" for="checkbox_12">
                            <input id="checkbox_12" type="checkbox" name="style" value="2">
                            <span class="checkbox__icon"></span>
                            Модерн
                        </label>
                        <label class="checkbox" for="checkbox_13">
                            <input id="checkbox_13" type="checkbox" name="style" value="3">
                            <span class="checkbox__icon"></span>
                            Стекло
                        </label>
                        <label class="checkbox" for="checkbox_14">
                            <input id="checkbox_14" type="checkbox" name="style" value="4">
                            <span class="checkbox__icon"></span>
                            Хайтек
                        </label>
                    </div>
                </div>
                <div class="filter__section">
                    <button class="js-filter-section-opener filter__section-title" type="button">Материал</button>
                    <div class="filter__section-inner ">
                        <label class="checkbox" for="checkbox_15">
                            <input id="checkbox_15" type="checkbox" name="material" value="1">
                            <span class="checkbox__icon"></span>
                            Массив дуба
                        </label>
                        <label class="checkbox" for="checkbox_16">
                            <input id="checkbox_16" type="checkbox" name="material" value="2">
                            <span class="checkbox__icon"></span>
                            Массив ольхи
                        </label>
                        <label class="checkbox" for="checkbox_17">
                            <input id="checkbox_17" type="checkbox" name="material" value="3">
                            <span class="checkbox__icon"></span>
                            Массив сосны
                        </label>
                        <label class="checkbox" for="checkbox_18">
                            <input id="checkbox_18" type="checkbox" name="material" value="4">
                            <span class="checkbox__icon"></span>
                            Пвх
                        </label>
                    </div>
                </div>
                <div class="filter__buttons">
                    <button class="filter__button filter__button--type_1" type="submit">Применить</button>
                    <button class="filter__button" type="reset">Сбросить</button>
                </div>
            </form>
        </div>
        <button class="js-filter-closer filter-closer" type="button" title="Закрыть фильтр">
            <svg aria-hidden="true">
                <use xlink:href="#close" />
            </svg>
        </button>
    </div>
</div>