<div class="consult-form">
    <div class="consult-form__inner">
        <div class="consult-form__form-block">
            <h2 class="consult-form__title">Нужна консультация?</h2>
            <p class="consult-form__subtitle">Оставьте заявку и мы перезвоним&nbsp;вам</p>
            <p class="consult-form__text">Консультация бесплатно!</p>
            <form class="consult-form__form" action="">
                <input class="consult-form__input" class type="text" placeholder="Ваш номер">
                <button class="consult-form__submit" type="button">Получить консультацию</button>
            </form>
        </div>
        <img src="images/content/consult-form.png" alt="">
    </div>
</div>