<footer class="footer">
    <div class="footer__inner footer__grid">
        <div class="footer__toggled-section">
            <p class="js-list-toggler footer__title is-active">Свяжитесь с нами</p>
            <ul class="footer__list">
                <li class="footer__list-item">
                    <a href="tel:+78123170056">+7 (812) 561-16-51</a>
                </li>
                <li class="footer__list-item">
                    <a href="mailto:love@divan.ru" target="_blank" rel="noopener noreferrer">love@divan.ru</a>
                </li>
                <li class="footer__list-item">
                    <button class="button-like-link" type="button">Перезвоните мне</button>
                </li>
                <li class="footer__list-item">
                    <button class="button-like-link" type="button">Задать вопрос</button>
                </li>
                <li class="footer__list-item">
                    <button class="button-like-link" type="button">Видеоконсультация со специалистом</button>
                </li>
                <li class="footer__list-item">
                    <a href="#">Контакты</a>
                </li>
                <li class="footer__list-item">
                    <button class="button-like-link" type="button">Обращение в отдел качества</button>
                </li>
                <li class="footer__list-item">
                    <button class="button-like-link" type="button">Написать руководству</button>
                </li>
            </ul>
        </div>

        <div>
            <div class="footer__block">
                <p class="footer__title">Режим работы call-центра</p>
                <p>ежедневно с 9:00 до 22:00</p>
            </div>

            <div class="footer__block">
                <p class="footer__title">Доставка заказов</p>
                <p>с 10:00 до 22:00</p>
            </div>

            <div class="footer__block">
                <p class="footer__title">Подписаться на рассылку</p>
                <form class="footer-subscribe" method="POST" action="/">
                    <input class="footer-subscribe__input" type="text" placeholder="E-mail" name="email" value="">
                    <button class="footer-subscribe__submit" type="submit" title="Отправить">
                        <svg>
                            <use xlink:href="#chevron_right"></use>
                        </svg>
                    </button>
                </form>
            </div>

            <p><a href="#">Мы в прессе</a></p>
        </div>

        <div class="footer__toggled-section">
            <p class="js-list-toggler footer__title">Информация для покупателей</p>
            <ul class="footer__list" style="display: none">
                <li class="footer__list-item">
                    <a href="#">О компании</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Адреса магазинов</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Доставка и оплата</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Гарантия</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Divan.Club</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">О конструкторе</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Для бизнеса</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Карта сайта</a>
                </li>
            </ul>
        </div>

        <div class="footer__toggled-section">
            <p class="js-list-toggler footer__title">Каталог</p>
            <ul class="footer__list" style="display: none">
                <li class="footer__list-item">
                    <a href="#">Мягкая мебель</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Корпусная мебель</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Бескаркасная мебель</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Модульная мебель</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Распродажа мебели</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Столы и стулья</a>
                </li>
            </ul>
        </div>

        <div>
            <div class="footer__block">
                <p class="footer__title">Читайте отзывы</p>
                <p>
                    <a class="ym-link" href="#" target="_blank" rel="noopener noreferrer">
                        Яндекс Маркет
                        <span class="ym-grades">
                            <span class="ym-grades__stars">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <span class="ym-grades__stars ym-grades__stars-value" style="width: 90%">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </span>
                    </a>
                </p>
            </div>
            <div class="footer__block">
                <p class="footer__title">Победитель</p>

                <ul class="footer__list">
                    <li class="footer__list-item">Red Dot Award</li>
                    <li class="footer__list-item">Премия Рунета 2022</li>
                    <li class="footer__list-item">Премия «Золотой сайт» 2021</li>
                </ul>
            </div>

            <div class="footer__block">
                <p class="footer__title">Платежные системы</p>

                <ul class="footer-payments">
                    <li><img src="https://cdn2.divan.ru/app/v1/node/website/f2f36f0632b5d6439493.svg" alt="Принимаем оплату банковскими картами MasterCard"></li>
                    <li><img src="https://cdn2.divan.ru/app/v1/node/website/8e3ad2fac3e49065a427.svg" alt="Принимаем оплату банковскими картами Visa"></li>
                    <li><img src="https://cdn2.divan.ru/app/v1/node/website/642114b875e6c242afde.svg" alt="Принимаем оплату банковскими картами МИР"></li>
                </ul>
            </div>
        </div>

        <div class="footer__logo">
            <img width="148" height="60" src="images/logo.png" srcset="images/logo@2x.png 2x" alt="ROOMTERIO">
        </div>

        <div>
            <ul class="footer-socials">
                <li><a class="footer-social footer-social--yt" target="_blank" rel="noopener noreferrer" href="#" title="Мы на YouTube"><img src="images/icons/socials/yt.svg" alt="YouTube"></a></li>
                <li><a class="footer-social footer-social--tg" target="_blank" rel="noopener noreferrer" href="#" title="Мы в Telegram"><img src="images/icons/socials/tg.svg" alt="Telegram"></a></li>
                <li><a class="footer-social footer-social--vk" target="_blank" rel="noopener noreferrer" href="#" title="Мы Вконтакте"><img src="images/icons/socials/vk.svg" alt="Вконтакте"></a></li>
                <li><a class="footer-social footer-social--zen" target="_blank" rel="noopener noreferrer" href="#" title="Мы на Дзене"><img src="images/icons/socials/zen.svg" alt="Дзен"></a></li>
            </ul>
        </div>

        <div class="small">
            <ul class="footer__list">
                <li class="footer__list-item"><a href="#">Договор оферты для физических&nbsp;лиц</a></li>
                <li class="footer__list-item"><a href="#">Договор оферты для юр.&nbsp;лиц&nbsp;и&nbsp;ИП</a></li>
            </ul>
        </div>

        <div class="small">
            <a href="#">Политика конфиденциальности</a>
        </div>

        <div class="small">
            <p class="footer__developer">Маркетинговая поддержка <a href="https://vsignal.ru/" title="Маркетинговое агенство «VSignal»" target="_blank">VSignal</a></p>
        </div>
    </div>
</footer>