<footer class="footer">
    <div class="footer__inner footer__grid">
        <div class="footer__toggled-section">
            <p class="js-list-toggler footer__title is-active">Информация</p>
            <ul class="footer__list">
                <li class="footer__list-item">
                    <a href="#">Реализованные проекты</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Блог</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Сотрудничество</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Вакансии</a>
                </li>
            </ul>
        </div>

        <div class="footer__toggled-section">
            <p class="js-list-toggler footer__title">Каталог</p>
            <ul class="footer__list" style="display: none">
                <li class="footer__list-item">
                    <a href="#">Свет</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Лепнина</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Мебель</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Электроустановка</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Декор</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Дизайн студия</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Правило эксплуатации</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Каталоги производителей</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Бренд</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Акции</a>
                </li>
            </ul>
        </div>

        <div class="footer__toggled-section">
            <p class="js-list-toggler footer__title">Информация для покупателей</p>
            <ul class="footer__list" style="display: none">
                <li class="footer__list-item">
                    <a href="#">О компании</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Доставка и оплата</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Услуги</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Возврат</a>
                </li>
                <li class="footer__list-item">
                    <a href="#">Гарантия</a>
                </li>
            </ul>
        </div>

        <div>
            <div class="footer__block">
                <p class="footer__title">Контакты</p>

                <ul class="footer__list">
                    <li class="footer__list-item"><a href="tel:+78129290108">8 (812) 929-01-08</a></li>
                    <li class="footer__list-item"><a href="tel:+79117270020">8 (911) 727-00-20</a></li>
                    <li class="footer__list-item"><a href="mailto:roomterio@bk.ru">roomterio@bk.ru</a></li>
                </ul>
            </div>

            <div class="footer__block">
                <div class="socials">
                    <a class="social" href="#" title="WhatsApp">
                        <svg>
                            <use xlink:href="#wa"></use>
                        </svg>
                    </a>
                    <a class="social" href="#" title="Telegram">
                        <svg>
                            <use xlink:href="#tg"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="footer__block">
                <p class="footer__title">Принимаем к оплате</p>

                <ul class="footer-payments">
                    <li><img src="https://cdn2.divan.ru/app/v1/node/website/f2f36f0632b5d6439493.svg" alt="Принимаем оплату банковскими картами MasterCard"></li>
                    <li><img src="https://cdn2.divan.ru/app/v1/node/website/8e3ad2fac3e49065a427.svg" alt="Принимаем оплату банковскими картами Visa"></li>
                    <li><img src="https://cdn2.divan.ru/app/v1/node/website/642114b875e6c242afde.svg" alt="Принимаем оплату банковскими картами МИР"></li>
                </ul>
            </div>
        </div>

        <div class="footer__logo">
            <img width="148" height="74" src="images/logo.svg" alt="ROOMTERIO">
        </div>

        <div class="small">
            <ul class="footer__list">
                <li class="footer__list-item"><a href="#">Договор оферты для физических&nbsp;лиц</a></li>
                <li class="footer__list-item"><a href="#">Договор оферты для юр.&nbsp;лиц&nbsp;и&nbsp;ИП</a></li>
            </ul>
        </div>

        <div class="small">
            <a href="#">Политика конфиденциальности</a>
        </div>

        <div class="small">
            <p class="footer__developer">Маркетинговая поддержка <a href="https://vsignal.ru/" title="Маркетинговое агенство «VSignal»" target="_blank">VSignal</a></p>
        </div>
    </div>
</footer>

<div id="recall" class="popup">
    <p class="h3 text-center">Перезвоните мне</p>
    <p class="text-center">Оставьте ваши имя и номер телефона и наш менеджер свяжется с вами в ближайшее время</p>
    <form action="">
        <label class="input-label">
            <input class="input" type="text" placeholder="Ваше имя">
        </label>
        <label class="input-label error">
            <input class="input" type="text" placeholder="Ваше телефон">
        </label>
        <label class="checkbox">
            <input type="checkbox" name="terms">
            <span class="checkbox__icon"></span>
            <span>Я ознакомился с <a href="#" target="_blank">Политикой конфиденциальности</a> и даю свое согласие на обработку своих персональных данных.</span>
        </label>
        <p class="text-center">
            <button class="button button--type_2" type="button" disabled>Отправить</button>
        </p>
    </form>
</div>