<header class="header">
    <div class="header__inner">
        <a class="header__logo" href="main.html">
            <picture>
                <source srcset="images/logo_white.svg" media="(min-width: 1024px)">
                <img src="images/logo.svg" alt="ROOMTERIO">
            </picture>
        </a>

        <button class="js-nav-opener header__menu-opener" type="button" title="Открыть меню">
            <svg>
                <use xlink:href="#burger"></use>
            </svg>
        </button>

        <div class="header__menu">
            <ul class="header__menu-list">
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#">Магазин</a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#">Доставка и оплата</a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#">О компании</a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#">Гарантия</a>
                </li>
            </ul>
        </div>

        <div class="header__right">
            <a class="header-phone" href="tel:+79819157898">
                <span class="header-phone__text">+7 (981) 915-78-98</span>
                <svg class="header-phone__icon">
                    <use xlink:href="#phone"></use>
                </svg>
            </a>

            <div class="header__work-time">
                Пн-Пт: 09.00 - 19.00<br>
                Сб-Вс: 10.00 - 19.00
            </div>

            <button class="header__icon-button" type="button" title="Поиск">
                <svg>
                    <use xlink:href="#search"></use>
                </svg>
            </button>

            <a class="header__icon-button header-favorite" href="#" title="Избранное">
                <svg class="header-favorite__icon">
                    <use xlink:href="#favorite"></use>
                </svg>
                <span class="header-favorite__text">0</span>
            </a>

            <a class="header__icon-button header-cart" href="#" title="Корзина">
                <svg class="header-cart__icon">
                    <use xlink:href="#cart"></use>
                </svg>
                <span class="header-cart__text">1</span>
            </a>
        </div>
    </div>

    <nav class="header-nav compensate-for-scrollbar">
        <div class="header-nav__inner">
            <ul class="header-nav__list">
                <li class="header-nav__category">
                    <a class="header-nav__category-link" aria-haspopup="true" href="#">
                        <div class="header-nav__category-icon"><img src="images/icons/nav/nav_18.svg" alt="Гостиная"></div>
                        Гостиная
                    </a>
                    <div class="header-nav__subcategory">
                        <ul class="header-nav__subcategory-list">
                            <li class="header-nav__subcategory-item">
                                <a href="#">Диваны</a>
                                <div class="header-nav__sub-subcategory">
                                    <ul class="header-nav__sub-subcategory-list">
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Прямые диваны</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Угловые диваны</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Матрасы для диванов</a>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Кресла</a>
                                <div class="header-nav__sub-subcategory">
                                    <ul class="header-nav__sub-subcategory-list">
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Кресла мягкие</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Кресла-кровати</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Кресла-качалки</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Кресла-мешки</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Кресла-стулья</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Пуфики и банкетки</a>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Стенки для гостиной</a>
                                <div class="header-nav__sub-subcategory">
                                    <ul class="header-nav__sub-subcategory-list">
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Прямые</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Угловые</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Подвесные</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Мини-стенки</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Шкафы</a>
                                <div class="header-nav__sub-subcategory">
                                    <ul class="header-nav__sub-subcategory-list">
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Шкафы-купе</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Распашные шкафы</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Шкафы-витрины</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Шкафы навесные</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Аксессуары для шкафов</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Гардеробные системы</a>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Тумбы под телевизор</a>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Комоды</a>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Стеллажи</a>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Журнальные столики</a>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Настенные полки</a>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Текстиль для гостиной</a>
                                <div class="header-nav__sub-subcategory">
                                    <ul class="header-nav__sub-subcategory-list">
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Пледы</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Покрывала</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Декоративные подушки</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Чехлы для мебели</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Шторы</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Аксессуары для хранения</a>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Интерьерные ковры</a>
                            </li>
                        </ul>
                        <div class="header-nav__promo">
                            <!--ресайз картинок 185*250-->
                            <a href="#"><img src="images/content/promo.webp" alt="Распродажа диванов и кресел"></a>
                        </div>
                    </div>
                </li>
                <li class="header-nav__category">
                    <a class="header-nav__category-link" aria-haspopup="true" href="#">
                        <div class="header-nav__category-icon"><img src="images/icons/nav/nav_21.svg" alt="Спальня"></div>
                        Спальня
                    </a>
                    <div class="header-nav__subcategory">
                        <ul class="header-nav__subcategory-list">
                            <li class="header-nav__subcategory-item">
                                <a href="#">Стенки для гостиной</a>
                                <div class="header-nav__sub-subcategory">
                                    <ul class="header-nav__sub-subcategory-list">
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Прямые</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Угловые</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Подвесные</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Мини-стенки</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Шкафы</a>
                                <div class="header-nav__sub-subcategory">
                                    <ul class="header-nav__sub-subcategory-list">
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Шкафы-купе</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Распашные шкафы</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Шкафы-витрины</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Шкафы навесные</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Аксессуары для шкафов</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Гардеробные системы</a>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Тумбы под телевизор</a>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Комоды</a>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Стеллажи</a>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Диваны</a>
                                <div class="header-nav__sub-subcategory">
                                    <ul class="header-nav__sub-subcategory-list">
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Прямые диваны</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Угловые диваны</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Матрасы для диванов</a>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Кресла</a>
                                <div class="header-nav__sub-subcategory">
                                    <ul class="header-nav__sub-subcategory-list">
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Кресла мягкие</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Кресла-кровати</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Кресла-качалки</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Кресла-мешки</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Кресла-стулья</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Пуфики и банкетки</a>
                            </li>

                            <li class="header-nav__subcategory-item">
                                <a href="#">Журнальные столики</a>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Настенные полки</a>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Текстиль для гостиной</a>
                                <div class="header-nav__sub-subcategory">
                                    <ul class="header-nav__sub-subcategory-list">
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Пледы</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Покрывала</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Декоративные подушки</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Чехлы для мебели</a>
                                        </li>
                                        <li class="header-nav__sub-subcategory-item">
                                            <a href="#">Шторы</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Аксессуары для хранения</a>
                            </li>
                            <li class="header-nav__subcategory-item">
                                <a href="#">Интерьерные ковры</a>
                            </li>
                        </ul>
                        <div class="header-nav__promo">
                            <!--ресайз картинок 185*250-->
                            <a href="#"><img src="images/content/promo.webp" alt="Распродажа диванов и кресел"></a>
                        </div>
                    </div>
                </li>
                <li class="header-nav__category">
                    <a class="header-nav__category-link" href="#">
                        <div class="header-nav__category-icon"><img src="images/icons/nav/nav_19.svg" alt="Кухня и столовая"></div>
                        Кухня и столовая
                    </a>
                </li>
                <li class="header-nav__category">
                    <a class="header-nav__category-link" href="#">
                        <div class="header-nav__category-icon"><img src="images/icons/nav/nav_24.svg" alt="Домашний офис"></div>
                        Домашний офис
                    </a>
                </li>
                <li class="header-nav__category">
                    <a class="header-nav__category-link" href="#">
                        <div class="header-nav__category-icon"><img src="images/icons/nav/nav_20.svg" alt="Прихожая"></div>
                        Прихожая
                    </a>
                </li>
                <li class="header-nav__category">
                    <a class="header-nav__category-link" href="#">
                        <div class="header-nav__category-icon"><img src="images/icons/nav/nav_23.svg" alt="Детская"></div>
                        Детская
                    </a>
                </li>
                <li class="header-nav__category">
                    <a class="header-nav__category-link" href="#">
                        <div class="header-nav__category-icon"><img src="images/icons/nav/nav_762.svg" alt="Товары для дома"></div>
                        Товары для дома
                    </a>
                </li>
                <li class="header-nav__category">
                    <a class="header-nav__category-link" href="#">
                        <div class="header-nav__category-icon"><img src="images/icons/nav/nav_27.svg" alt="Дача"></div>
                        Дача
                    </a>
                </li>
                <li class="header-nav__category">
                    <a class="header-nav__category-link" href="#">
                        <div class="header-nav__category-icon"><img src="images/icons/nav/nav_659.svg" alt="Свет"></div>
                        Свет
                    </a>
                </li>
                <li class="header-nav__category actions">
                    <a class="header-nav__category-link" href="#">
                        <div class="header-nav__category-icon"><img src="images/icons/nav/nav_978.svg" alt="Акции"></div>
                        Акции
                    </a>
                </li>
                <li class="header-nav__category all-goods">
                    <a href="#" title="Весь каталог">
                        <svg>
                            <use xlink:href="#kebab"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <button class="js-nav-closer header-nav__closer" type="button" title="Закрыть меню">
            <svg>
                <use xlink:href="#close"></use>
            </svg>
        </button>
    </nav>
</header>