<div class="js-main-banner main-banner">
    <div class="main-banner__slide">
        <a class="main-banner__link" href="#">
            <picture class="main-banner__picture">
                <!--ресайз картинок 750*750 1500*1500 1920*750 3840*1500-->
                <source srcset="images/content/banner.jpg, images/content/banner@2x.jpg 2x" media="(min-width: 768px)">
                <img src="images/content/banner_mob.jpg" srcset="images/content/banner_mob@2x.jpg 2x" alt="">
            </picture>
            <div class="main-banner__container">
                <p class="main-banner__title">Заголовок слайда</p>
                <p class="main-banner__text">Небольшой текст для слайда, чтобы было понятно о чём идёт речь...</p>
                <p><span class="main-banner__button">Подробнее</span></p>
            </div>
        </a>
    </div>
    <div class="main-banner__slide">
        <a class="main-banner__link" href="#">
            <picture class="main-banner__picture">
                <!--ресайз картинок 750*750 1500*1500 1920*750 3840*1500-->
                <source srcset="images/content/banner_2.jpg, images/content/banner_2@2x.jpg 2x" media="(min-width: 768px)">
                <img src="images/content/banner_2_mob.jpg" srcset="images/content/banner_2_mob@2x.jpg 2x" alt="">
            </picture>
            <div class="main-banner__container">
                <p class="main-banner__title">Заголовок слайда</p>
                <p class="main-banner__text">Небольшой текст для слайда, чтобы было понятно о чём идёт речь...</p>
                <p><span class="main-banner__button">Подробнее</span></p>
            </div>
        </a>
    </div>
</div>