<div class="js-products-slider products-slider">
    <div class="products-slider__item">
        <div class="product">
            <a class="product__image" href="#">
                <img src="http://importhome.ru/upload/resize_cache/iblock/db8/400_400_0/db81058711a568bc136688fa604b5fe6.jpg" alt="Диван Tondo">
            </a>
            <p class="product__title">Диван Tondo</p>
            <p class="product__brand">Название бренда</p>
            <div class="product__price">
                <span class="product__price-current">471 100 ₽</span>
                <span class="product__price-old">
                    <span>523 500 ₽</span>
                    <span> | Скидка 10%</span>
                </span>
            </div>
            <button class="product__fav" type="button" title="Добавить в избранное">
                <svg>
                    <use xlink:href="#favorite"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="products-slider__item">
        <div class="product">
            <a class="product__image" href="#">
                <img src="https://importhome.ru/upload/resize_cache/iblock/a03/400_400_0/a03cd67d0bc5d911e4604997b79e00ee.jpg" alt="Диван Tondo">
            </a>
            <p class="product__title">Диван Tondo</p>
            <p class="product__brand">Название бренда</p>
            <div class="product__price">
                <span class="product__price-current">471 100 ₽</span>
                <span class="product__price-old">
                    <span>523 500 ₽</span>
                    <span> | Скидка 10%</span>
                </span>
            </div>
            <button class="product__fav is-active" type="button" title="Убрать из избранного">
                <svg>
                    <use xlink:href="#favorite"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="products-slider__item">
        <div class="product">
            <a class="product__image" href="#">
                <img src="http://importhome.ru/upload/resize_cache/iblock/db8/400_400_0/db81058711a568bc136688fa604b5fe6.jpg" alt="Диван Tondo">
            </a>
            <p class="product__title">Диван Tondo</p>
            <p class="product__brand">Название бренда</p>
            <div class="product__price">
                <span class="product__price-current">471 100 ₽</span>
                <span class="product__price-old">
                    <span>523 500 ₽</span>
                    <span> | Скидка 10%</span>
                </span>
            </div>
            <button class="product__fav" type="button" title="Добавить в избранное">
                <svg>
                    <use xlink:href="#favorite"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="products-slider__item">
        <div class="product">
            <a class="product__image" href="#">
                <img src="https://importhome.ru/upload/resize_cache/iblock/a03/400_400_0/a03cd67d0bc5d911e4604997b79e00ee.jpg" alt="Диван Tondo">
            </a>
            <p class="product__title">Диван Tondo</p>
            <p class="product__brand">Название бренда</p>
            <div class="product__price">
                <span class="product__price-current">471 100 ₽</span>
                <span class="product__price-old">
                    <span>523 500 ₽</span>
                    <span> | Скидка 10%</span>
                </span>
            </div>
            <button class="product__fav is-active" type="button" title="Убрать из избранного">
                <svg>
                    <use xlink:href="#favorite"></use>
                </svg>
            </button>
        </div>
    </div>
</div>