<div class="sections-cards">
    <a class="sections-card" href="#">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/divany.b89c7ae4.jpg" alt="Диваны">
        <span class="sections-card__link">Диваны</span>
    </a>
    <a class="sections-card" href="#">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/krovati.668984a5.jpg" alt="Кровати">
        <span class="sections-card__link">Кровати</span>
    </a>
    <a class="sections-card" href="#">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/kresla.c7cb9cfe.jpg" alt="Кресла">
        <span class="sections-card__link">Кресла</span>
    </a>
    <a class="sections-card" href="#">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/pufy-i-banketki.f2540027.jpg" alt="Пуфы">
        <span class="sections-card__link">Пуфы</span>
    </a>
    <a class="sections-card" href="#">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/stulya.3e55f875.jpg" alt="Стулья">
        <span class="sections-card__link">Стулья</span>
    </a>
    <a class="sections-card" href="#">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/stoly.d0c1bbe7.jpg" alt="Столы">
        <span class="sections-card__link">Столы</span>
    </a>
    <a class="sections-card" href="#">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/komody.b1651b62.jpg" alt="Комоды">
        <span class="sections-card__link">Комоды</span>
    </a>
    <a class="sections-card" href="#">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/tumby.48c8e54f.jpg" alt="Тумбы">
        <span class="sections-card__link">Тумбы</span>
    </a>
    <a class="sections-card" href="#">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/shkafy.e448b4f7.jpg" alt="Шкафы">
        <span class="sections-card__link">Шкафы</span>
    </a>
    <a class="sections-card" href="#">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/zerkala.1386e0d8.jpg" alt="Зеркала">
        <span class="sections-card__link">Зеркала</span>
    </a>
    <a class="sections-card" href="#">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/osveschenie.e7cddeee.jpg" alt="Свет">
        <span class="sections-card__link">Свет</span>
    </a>
    <a class="sections-card" href="#">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/tekstil.6650cd79.jpg" alt="Текстиль">
        <span class="sections-card__link">Текстиль</span>
    </a>
</div>