<div class="sections-cards">
    <div class="sections-card">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/divany.b89c7ae4.jpg" alt="Диваны">
        <a class="sections-card__link" href="#">Диваны</a>
    </div>
    <div class="sections-card">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/krovati.668984a5.jpg" alt="Кровати">
        <a class="sections-card__link" href="#">Кровати</a>
    </div>
    <div class="sections-card">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/kresla.c7cb9cfe.jpg" alt="Кресла">
        <a class="sections-card__link" href="#">Кресла</a>
    </div>
    <div class="sections-card">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/pufy-i-banketki.f2540027.jpg" alt="Пуфы">
        <a class="sections-card__link" href="#">Пуфы</a>
    </div>
    <div class="sections-card">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/stulya.3e55f875.jpg" alt="Стулья">
        <a class="sections-card__link" href="#">Стулья</a>
    </div>
    <div class="sections-card">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/stoly.d0c1bbe7.jpg" alt="Столы">
        <a class="sections-card__link" href="#">Столы</a>
    </div>
    <div class="sections-card">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/komody.b1651b62.jpg" alt="Комоды">
        <a class="sections-card__link" href="#">Комоды</a>
    </div>
    <div class="sections-card">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/tumby.48c8e54f.jpg" alt="Тумбы">
        <a class="sections-card__link" href="#">Тумбы</a>
    </div>
    <div class="sections-card">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/shkafy.e448b4f7.jpg" alt="Шкафы">
        <a class="sections-card__link" href="#">Шкафы</a>
    </div>
    <div class="sections-card">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/zerkala.1386e0d8.jpg" alt="Зеркала">
        <a class="sections-card__link" href="#">Зеркала</a>
    </div>
    <div class="sections-card">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/osveschenie.e7cddeee.jpg" alt="Свет">
        <a class="sections-card__link" href="#">Свет</a>
    </div>
    <div class="sections-card">
        <!--ресайз картинок 280*280-->
        <img src="https://assets-prod.inmyroom.ru/assets/catalog-teasers/tekstil.6650cd79.jpg" alt="Текстиль">
        <a class="sections-card__link" href="#">Текстиль</a>
    </div>
</div>