.consult-form {
    background-color: rgba($text-color, 0.05);
    font-weight: 300;
    margin-bottom: 40px;
    @media(max-width: $md - 1px) {
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    @media(min-width: $hd) {
        margin-bottom: 80px;
    }

    &__inner {
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
        padding-top: 40px;
        padding-bottom: 40px;
        @media(min-width: $md) {
            display: flex;
        }
    }

    &__title {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 5px;
        @media(min-width: $hd) {
            font-size: 40px;
        }
    }

    &__subtitle {
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 16px;
        margin-bottom: 10px;
    }

    &__form {
        @media(max-width: $md - 1px) {
            margin-left: auto;
            margin-right: auto;
            max-width: 320px;
        }
        @media(min-width: $md) {
            display: flex;
        }
    }

    &__input {
        border-radius: 0;
        border: 1px solid $text-color;
        height: 48px;
        padding: 0 20px;
        width: 100%;
        @media(max-width: $md - 1px) {
            margin-bottom: 5px;
        }
    }

    &__submit {
        border: 1px solid $text-color;
        border-radius: 0;
        background-color: $text-color;
        cursor: pointer;
        color: #fff;
        flex-shrink: 0;
        padding: 15px;
        transition: all 0.3s;
        @media(max-width: $md - 1px) {
            width: 100%;
        }

        &:hover {
            background-color: $text-color;
            color: #fff;
        }
    }

    img {
        margin-bottom: -40px;
        max-width: 415px;
        @media(max-width: $md - 1px) {
            display: none;
        }
    }
}