.page-404 {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
    min-height: 588px;
    text-align: center;
    @media(min-width: $lg) {
        font-size: 20px;
    }

    &__code {
        font-size: 96px;
        font-weight: 700;
        margin-top: 34px;
        margin-bottom: 26px;
        @media(min-width: $lg) {
            font-size: 128px;
            margin-top: 24px;
            margin-bottom: 39px;
        }
    }
}