.popup {
    background-color: #fff;
    display: none;
    max-width: 480px;
    width: 100%;

    &.fancybox-content {
        cursor: auto;
        max-width: 480px;
        width: 100%;
    }

    .checkbox,
    .input-label {
        margin-bottom: 24px;
    }
}