.tabs {
    margin-bottom: 40px;
    @media(min-width: $hd) {
        margin-bottom: 80px;
    }

    &__list {
        display: flex;
        border-top: 1px solid #e0e0e0;
        padding-left: 20px;
        padding-right: 20px;
        flex-wrap: nowrap;
        padding-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        max-width: 795px;
        justify-content: center;
        list-style: none;
        -webkit-overflow-scrolling: touch;
    }

    &__button {
        background-color: transparent;
        border: none;
        color: rgba($text-color, 0.8);
        font-size: 16px;
        font-weight: 300;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        margin-top: -1px;
        padding: 10px 20px 2px;
        transition: color 0.3s;
        @media(min-width: $hd) {
            font-size: 18px;
        }

        &:focus-within,
        &:hover {
            color: $dark-gold-color;
        }

        &.is-active {
            color: $dark-gold-color;

            &::before {
                content: '';
                position: absolute;
                width: calc(100% - 30px);
                top: -2px;
                height: 5px;
                background-color: $dark-gold-color;
                z-index: 1;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.tab {
    display: none;

    &.is-active {
        display: block;
    }
}